<p id="notice"><%= notice %></p>

<p>
  <strong>Staffer:</strong>
  <%= @bill.staffer_id %>
</p>

<p>
  <strong>Bill text:</strong>
  <%= @bill.bill_text %>
</p>

<p>
  <strong>Vote:</strong>
  <%= @bill.vote_id %>
</p>

<%= link_to 'Edit', edit_bill_path(@bill) %> |
<%= link_to 'Back', bills_path %>
