<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staffer.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @staffer.email %>
</p>

<p>
  <strong>Password digest:</strong>
  <%= @staffer.password_digest %>
</p>

<%= link_to 'Edit', edit_staffer_path(@staffer) %> |
<%= link_to 'Back', staffers_path %>
